- project:
    name: {{ target_name }}
    disabled: false
    git: {{ target_git }}
    jobs:
      - '{name}'
- job-template:
    name: '{name}'
    pipeline-scm:
        scm:
          - git:
              url: '{git}'
        script-path: pipeline.groovy
    periodic-folder-trigger: '1m'
    project-type: pipeline
    parameters:
      - string:
          name: JENKINS_URL
          default: {{ jjb_server }}
      - string:
          name: TARGET_NAME
      - string:
          name: TARGET_GIT
      - string:
          name: SOURCE_GIT_USER
      - string:
          name: SOURCE_GIT
      - string:
          name: SOURCE_GIT_BRANCH
          default: master
      - string:
          name: SOURCE_GIT_TOKEN
      - string:
          name: TARGET_GIT_USER
      - string:
          name: JENKINS_USERNAME
          default: {{ jjb_user }}
      - password:
          name: JENKINS_API_TOKEN
          type: secrettext
          default: {{ jjb_token }}
      - password:
          name: TARGET_GIT_TOKEN
          type: secrettext
          default: {{ github_api_token }}
