- project:
    name: {{ target_name }}
    disabled: false
    git: {{ target_git }}
    jobs:
      - '{name}'
      - '{name}/{kind}':
          kind: develop
- job-template:
    name: '{name}'
    project-type: folder
- job-template:
    name: '{name}/{kind}'
    project-type: multibranch
    scm:
        - git:
            url: '{git}'
    periodic-folder-trigger: '1m'
    raw:
      xml: |
        <factory class="org.jenkinsci.plugins.workflow.multibranch.WorkflowBranchProjectFactory">
          <owner class="org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject" reference="../.."/>
          <scriptPath>jenkinsfiles/{kind}.groovy</scriptPath>
        </factory>
